<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 将HibernateTemplate注入到dao中 -->
	<bean id="connectDao" class="com.coe.daoImp.ContractDaoImp">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="informationDao"
		class="com.coe.daoImp.InformationDaoImp">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>

	<!-- 将DAO注入给Service中 -->
	<bean id="contractService"
		class="com.coe.serviceImp.ContractServiceImp">
		<property name="connectDao" ref="connectDao" />
	</bean>
	<bean id="informationService"
		class="com.coe.serviceImp.InformationServiceImp">
		<property name="informationDao" ref="informationDao" />
	</bean>
	<!-- 将Service注入Action中 -->
	<bean name="/contract" class="com.coe.action.ContractAction">
		<property name="contractService" ref="contractService" />
		<property name="informationService" ref="informationService"></property>
	</bean>

	<bean name="/findContractbymh"
		class="com.coe.action.ContractAction">
		<property name="contractService" ref="contractService" />
	</bean>

	<bean name="/saveContract" class="com.coe.action.ContractAction">
		<property name="contractService" ref="contractService" />
		<property name="informationService" ref="informationService"></property>
	</bean>
	<bean name="/updateContract"
		class="com.coe.action.ContractAction">
		<property name="contractService" ref="contractService" />
		<property name="informationService" ref="informationService"></property>
	</bean>

	<bean name="/deleteContract"
		class="com.coe.action.ContractAction">
		<property name="contractService" ref="contractService" />
		<property name="informationService" ref="informationService"></property>
	</bean>

	<bean name="/ptyh/contract" class="com.coe.action.ContractAction">
		<property name="contractService" ref="contractService" />
		<property name="informationService" ref="informationService"></property>
	</bean>


</beans>